.app {
  text-align: center;
}

.app-logo {
  height: 25vmin;
  pointer-events: none;
}

.app-header {
  background-color: #32353eed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2.5vmin);
  font-weight: 700;
  color: white;
}

.app-link {
  color: #61dafb;
}

.dropdown {
  color: white;
  font-size: 5rem;
  cursor: pointer;
}

.dropdown:hover {
  transform: scale(1.03);
  transition: transform 100ms;
  color: rgb(121, 177, 203);
  transition: color 100ms;
}

.blog {
  background-color: white;
  min-height: 100vh;
  display: flex;
  /* position: relative; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  font-weight: 600;
  color: black;
}

.addPost {
  display: none; /* For now */
  color: black;
  position: fixed;
  bottom: 3rem;
  right: 5vh;
  cursor: pointer;
  font-size: 4.2rem;
}

.addPost:hover {
  transform: scale(1.03);
  transition: transform 100ms;
  color: rgb(121, 177, 203);
  transition: color 100ms;
}

.post-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5%;
  overflow-y: auto;
}

.post-container:first-child {
  margin-top: 5rem;
}

/* .post-container > a {
  font-size: 1.2rem;
  border-radius: 3rem;
  padding: 0.5rem 5rem;
  text-decoration: none;
  background-color: #ffd270;
  background-image: linear-gradient(62deg, #ffd270 0%, #F7CE68 100%);
} */

/* .post-container > a:hover {
  transform: scale(1.05);
} */

.form-container {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  background-color: black;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.form-container > input, textarea {
  font-size: 1rem;
  min-width: max(60ch, 70vw);
  padding: 12px;
}

.form-container > input {
  height: 2rem;
}

.form-container > textarea {
  height: 20rem;
}

.form-container > button {
  font-size: 1.2rem;
  padding: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.form-container > button:hover {
  font-style: italic;
  transition: transform 100ms;
  background-color: rgb(121, 177, 203);
  transition: background-color 100ms;
}

input::placeholder, 
textarea::placeholder {
  color: grey;
  text-indent: 7px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Helvetica, sans-serif;
  height: max(3.7rem, 10vh);
  background-color: #1e1e1e;
  color: white;
  font-size: 1.2rem;
  padding: 0.1rem;
}

footer > span {
  margin-left: 1rem;
}